.life {
    color: white;
    font-size: 35px;

}

.all {
    text-align: center;
    font-size: 20px;
    margin-left: 600px;
}

.all1 {
    transition: transform 0.3s ease-out;
}

.all1:hover {
    transform: scale(1.1);
}

.all2 {
    transition: transform 0.3s ease-out;
}

.all2:hover {
    transform: scale(1.1);
}

.all3 {
    transition: transform 0.3s ease-out;
}

.all3:hover {
    transform: scale(1.1);
}

.all4 {
    transition: transform 0.3s ease-out;
}

.all4:hover {
    transform: scale(1.1);
}
.every {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.every2 {
    color: white;
    font-size: 20px;
    margin-top: 0px;
}
.gal{
    background-color: #c90012;
    height: 300px;
}
.sa{
    margin-top: 50px;
    text-align: center;
}
.sa h6{
    color: red;
}
.cards{
        margin-top: 50px;
       
}

.card{
    gap: 10px;
    margin-top: 50px;
}

.em{
    width: 100px;
    margin-left: 20px;
}
.card:hover{
    transform: translate(0px,-10px);
}
.box7{
    display: inline-flex;
    gap: 20px;
    vertical-align: middle;
    margin-top: 50px;
}
.box71{
    display: inline-flex;
    gap: 27px;
    vertical-align: middle;
    margin-top: 45px;
}
.col0{
    transition: transform 0.4s ease;
}
.col0:hover{
    transform: scale(1.1);
}
.h2{
    font-weight: bold;
    font-size: 35px;
    margin-top: 100px;
    color: black;
}
.box0{
    margin-top: 90px;
    text-align: center;
    margin-bottom: -90px;
    height: 800px;
}
.sa31{
    height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -25px;
}
.sas31{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.sass31{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.sa32{
    height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -25px;
}
.sas32{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.sass32{
   height: 250px;
   width: 350px;
   border-radius: 10px;
   margin-top: -27px;
}
.butts{
    margin-top: 300px;
   border: 2px solid red;
   width: 300px;
   height: 60px;
   text-align: center;
   margin-left: 480px;
   padding: 0px;
   border-radius: 10px;
   background-color: antiquewhite;
}
.butts:hover{
    background-color: white;
}
.butts a{
    margin-top: 15px;
    text-decoration: none;
    color: black;
}
.newsletter {
    background-color: red;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.newsletter h1 {
    font-size: 29px;
    margin-bottom: 70px;
    font-weight: bold;
    margin-top: 30px;
}
.newsletter p {
    font-size: 19px;
   margin-top: -50px;
}
.subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.subscribe-box button {
    width: 250px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 19px;
    cursor: pointer;

}
.subscribe-box button:hover {
    background-color: #ffcc00;
}
.foot {
    text-align: center;
    margin-top: 0px;
}

.live,
.company,
.resources,
.legal {
    display: inline-block;
    vertical-align: middle;
}

.live {
    text-align: left;
    margin-top: 90px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    text-decoration: none;
}

.live h3 {
    color: #b90015;
}

.live p {
    color: black;
}

.company {
    margin-top: 80px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    text-decoration: none;
    text-align: left;
}

.company h3 {
    color: black;
    margin-top: 40px;
    margin-left: 30px;
}

.resources {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    text-decoration: none;
    margin-top: 50px;
    text-align: left;
}

.resources h3 {
    color: black;
    margin-top: 0px;
    margin-left: 30px;
}

.legal {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    margin-top: 15px;
    text-decoration: none;
    text-align: left;
}

.legal h3 {
    color: black;
    margin-top: 30px;
    margin-left: 30px;
}
.copy{
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
}
.copy p{
    color: black;
    font-size:16px;
}
.dec{
    text-decoration: none;
    color: black;
}
.dec:hover{
    color: red;
}